* {
    margin: 0;
    padding: 0; 
  }
  
  body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    width: 100%;
    
  }
  
  
  /* icons */
  
  #insta{
    height: 1.6%;
    width: 1.6%;
  }
  
  #phone, #gm{
    height: 1.6%;
    width: 1.6%;
  }
  
  /*footer*/
  
  
  
  footer{
    background-color: orange;
    height: 60%;
    width: 100%;
    
    padding: 0;
    margin-top: 20px;
    bottom: 0;
    
    
   
  }
  
 
  
  /* main product.html */
  
  
  
  
  
  h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .phome{
    font-size: 20px;
    text-align: center;
  }
  
  
  
 
  