body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  
}
#header{
  background-color: orange;
  height: 30%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

#headerlinks{
  flex-direction:row ;
  width: 20%;
  height: 100%;
  background-color: orange;
}

#menu{
  background-color: rgb(253, 173, 23);
  display: none;
  
  
}

#menu ul{
  font-size: 20px;
  
}

#menu li:hover{
 background: orange;
  
  
}

#menu a{
  text-decoration: none;
  color: black;
}

#menu li ul{
  display: none;
}
#menu li:hover ul{
  display: block;
}

#headerrechts{
    flex-direction: row;
    height: 100%;
    width: 80%;
}


main{
  height: 50% ;
  width: 50%;
}
#instagram{
  margin-top: 40%;
}

#insta{
  height: 20px;
  width: 20px;
}


#phone, #gm{
  height: 20px;
  width: 20px;
}

footer{
  background-color: orange;
  height: 30%;
  width: 100%;
  padding: 0;
  margin: 0;
}