* {
  margin: 0;
  padding: 0; 
}

body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  
}
#header{
  
  height: 40%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

#gewichtje{
  height: 20%;
  width: 20%;
}

/* header links */

#headerlinks{
  flex-direction: row ;
  width: 20%;
  height: 100%;
  background-color: orange;
}

#menu{
  background-color: orange;
  display: none;
}

#menu ul{
  font-size: 20px;
}

#menu li:hover{
 background: orange; 
}

#menu a{
  text-decoration: none;
  color: black;
}

#menu li ul{
  display: none;
}

#menu li:hover ul{
  display: block;
}
 
/* header rechts*/

#headerrechts{
    flex-direction: row;
    height: 100%;
    width: 80%;
    background-color: orange;
}

#sluit{
  background-color: orange;
  border: 3px solid black;
  width: 30%;
  height: 40%;
  border-radius: 45%;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.wrapper{
	position: absolute;
    width: 18%;
    height: 5%;
    margin: 0;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    margin-left: 70%;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 2%;
   
}

.wrapper .input {
    width: 85%;
    padding: 5% 10%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: orange;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90%;
}

#winkelwagen{
  height: 90%;
  width: 5%;
  margin: 0;
  padding: 0;
  margin-left: 70%;
  
}

/* icons */

#insta{
  height: 1.6%;
  width: 1.6%;
}

#phone, #gm{
  height: 1.6%;
  width: 1.6%;
}

/*footer*/

footer{
  background-color: orange;
  height: 30%;
  width: 100%;
  padding: 0;
  margin: 0;
  
 
}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

/* login pagina */

#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* main product.html */

main{
  height: 600px;
  width: 100%;
}



h1{
  text-align: center;
}

#container{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main{
  height: 50% ;
  width: 80%;
  display: flex;
  flex-direction: row;
}


#div1{
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 500px;
  margin-top: 50px;
  margin-left: 100px;
  border: 2px solid black;
}

#div2{
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 500px;
  margin-top: 50px;
  margin-left: 50px;
  border: 2px solid black;
}

#reclame{
  flex-direction: row;
  background-color: orange;
  width: 350px;
  height: 600px;
  margin-top:0px;
  margin-left: 290px;
  border: 2px solid black;
  float: right;
  margin: 0;
  padding: 0;
}






/* hamburger icon menu  */

/* *.nav-icon { 
  margin: 1em;
  width: 40px;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
} */

/*betaal style*/



/* test login style */


.form-5 {
  width: 300px;
  margin: 60px auto 30px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
}

.form-5 td {
  width: 93.5%;
  float: left;
  border-radius: 5px 0 0 5px;
  border: 1px solid #fff;
  border-right: none;
}

.form-5 input[type=text],
	.form-5 input[type=password] {
		width: 100%;
		height: 50px;
		padding: 0 10px;
		border: none;
		background: white;
		background: rgba(255, 255, 255, 0.2);
		box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
		font-family: 'Montserrat', sans-serif;
		text-indent: 10px;
		color: orange;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		font-size: 20px;
	}

	.form-5 input[type=text] {
		border-bottom: 1px solid #fff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.7);
		border-radius: 5px 0 0 0;
	}

	.form-5 input[type=password] {
		border-top: 1px solid #CCC;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 0 0 0 5px;
	}

	.form-5 input[type=text]:hover,
	.form-5 input[type=password]:hover,
	.form-5 input[type=text]:focus,
	.form-5 input[type=password]:focus {
		background: #f7def7;
		background: rgba(255, 255, 255, 0.4);
		outline: none;
	}

	.form-5 input::-webkit-input-placeholder {
		color: rgb(0, 0, 0);
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
		font-family: 'Handlee', cursive;
	}

	.form-5 input:-moz-placeholder {
		color: #fff;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
		font-family: 'Handlee', cursive;
	}

	.form-5 input:-ms-input-placeholder {
		color: #fff;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
		font-family: 'Handlee', cursive;
  }

  input[type=submit]{
    width: 100%;
		height: 50px;
		float: left;
		position: relative;
		overflow: hidden;
		background:
			radial-gradient(ellipse at center, rgb(253, 177, 37) 0%, #b55234 100%);
		border-radius: 0 5px 5px 0;
		box-shadow:
			inset 0 0 4px rgba(255, 255, 255, 0.7),
			inset 0 0 0 1px rgba(0, 0, 0, 0.2);
		border: none;
		border-left: 1px solid silver;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }