* {
  margin: 0;
  padding: 0; 
}

body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  
}


















#header{
  
  height: 40%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

#gewichtje{
  height: 20%;
  width: 20%;
}

/* header links */

#headerlinks{
  flex-direction: row ;
  width: 20%;
  height: 100%;
  background-color: orange;
}

#menu{
  background-color: orange;
  display: none;
}

#menu ul{
  font-size: 20px;
}

#menu li:hover{
 background: orange; 
}

#menu a{
  text-decoration: none;
  color: black;
}

#menu li ul{
  display: none;
}

#menu li:hover ul{
  display: block;
}
 
/* header rechts*/

#headerrechts{
    flex-direction: row;
    height: 100%;
    width: 80%;
    background-color: orange;
}

#sluit{
  background-color: orange;
  border: 3px solid black;
  width: 30%;
  height: 40%;
  border-radius: 45%;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.wrapper{
	position: absolute;
    width: 18%;
    height: 5%;
    margin: 0;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    margin-left: 70%;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 2%;
   
}

.wrapper .input {
    width: 85%;
    padding: 5% 10%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: orange;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90%;
}

#winkelwagen{
  height: 90%;
  width: 5%;
  margin: 0;
  padding: 0;
  margin-left: 70%;
  
}

/* icons */

#insta{
  height: 1.6%;
  width: 1.6%;
}

#phone, #gm{
  height: 1.6%;
  width: 1.6%;
}

/*footer*/



footer{
  background-color: orange;
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  bottom: 0;
  
  
 
}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

/* login pagina */

#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* main product.html */

main{
  height: 600px;
  width: 100%;
}



h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.phome{
  font-size: 20px;
  text-align: center;
}

#container{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main{
  height: 50% ;
  width: 80%;
  display: flex;
  flex-direction: row;
}


#div1{
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 500px;
  margin-top: 50px;
  margin-left: 80px;
  border: 2px solid black;
}

#div2{
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 500px;
  margin-top: 50px;
  margin-left: 70px;
  border: 2px solid black;
}

#reclame{
  flex-direction: row;
  background-color: orange;
  width: 320px;
  height: 600px;
  margin-top:0px;
  margin-left: 370px;
  
  float: right;
  margin: 0;
  padding: 0;
}



/*betaal style*/

.betaalmenu{
  font-size: 15px;
  
}
#continue{
  background-color: orange;
}

/* test login style */



/* contact button */
/* input[type=submit]{
  width: 8%;
  height: 50px;
  float: left;
  position: relative;
  overflow: hidden;
  background: radial-gradient(ellipse at center, rgb(253, 177, 37) 0%, #b55234 100%);
  border-radius: 0 5px 5px 0;
  box-shadow:
  inset 0 0 4px rgba(255, 255, 255, 0.7),
  inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-left: 1px solid silver;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
} */